keras-bert==0.55.1
glove_python==0.1.0
numpy==1.15.1
git+https://www.github.com/keras-team/keras-contrib.git
gensim==3.7.3
tqdm==4.28.1
tensorflow-gpu==1.8.0
Keras==2.2.4
matplotlib==2.2.3
jieba==0.39
fasttext==0.9.1
